<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/public/static/essential/assets/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gantari&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/public/static/essential/assets/styles/base.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/header.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/hamburger.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/buttons.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/message.css">

    <script src="/public/static/essential/assets/js/side-drawer.js" defer></script>
    <script src="/public/static/essential/assets/js/formatPrice.js" defer></script>

    <link rel="stylesheet" href="/public/static/essential/assets/styles/responsive/base.responsive.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/responsive/header.responsive.css">
    <link rel="stylesheet" href="/public/static/essential/assets/styles/responsive/message.responsive.css">    

    <title>wCart (<%= title %>)</title>