<%- include("includes/head", { title: "401!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "401" }) %>
    <main>
        <section style="margin-bottom: -3rem;" class="image-section">
            <img src="/public/static/essential/assets/images/401.png" alt="401" id="not-auth">
        </section>
        <p>This page is only accessable for authenticated users. For accessing this page <a class="highlight lined-link" href="/signup">create an acount</a> with us or if you already had then <a class="highlight lined-link" href="/login">login</a> with that!</p>
    </main>
</body>
</html>