<%- include("includes/head", { title: "Forbidden!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "403" }) %>
    <main>
        <section style="margin-bottom: -3rem;" class="image-section">
            <img src="/public/static/essential/assets/images/403.png" alt="Error Forbidden" id="forbidden-img">
        </section>
        <p>You have no rights to access this page/resoure.</p>
    </main>
</body>
</html>