<%- include("includes/head", { title: "404!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "404" }) %>
    <main>
        <section class="image-section">
            <img id="not-found" src="/public/static/essential/assets/images/404.png" alt="Resoure not Found!">
        </section>
        <section>
            <a class="lined-link" href="/">Go to the Home page!</a>
        </section>
    </main>
</body>
</html>