<%- include("includes/head", { title: "Server-side Error!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "500" }) %>
    <main>
        <section class="image-section">
            <img id="server-error" src="/public/static/essential/assets/images/500.png" alt="Something went wrong Internally.">
        </section>
    </main>
</body>
</html>