<%- include("includes/head", { title: "Forgot Password Unsuccessful!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "login" }) %>
    <main>
        <h1>Wrong Code Entered!</h1>
        <p>Unfortunately you entered a wrong code - So we have to stop your forgot password process as it seems like the account is not yours!</p>
    </main>
</body>
</html>