<%- include("includes/head", { title: "Signup Unsuccessful!" }) %>
</head>
<body>
    <%- include("includes/header", { page: "signup" }) %>
    <main>
        <h1>Wrong Code Entered!</h1>
        <p>Unfortunately you entered a wrong code - So we are not able to create your account.</p>
    </main>
</body>
</html>