<%- include("../common/includes/head", { title: "Order Placed!" }) %>
</head>
<body>
    <%- include("../common/includes/header", { page: "" }) %>
    <main>
        <img class="utility-img" src="/public/static/essential/assets/images/purchase-fail.png" alt="Your payment is failed">
        <p style="margin-top: -1rem;">Your payment is unfortunatly failed due to some unknown problem.</p>
    </main>
</body>
</html>