<%- include("../common/includes/head", { title: "Order Placed!" }) %>
</head>
<body>
    <%- include("../common/includes/header", { page: "" }) %>
    <main>
        <img class="utility-img" src="/public/static/essential/assets/images/successful-purchase.png" alt="Your order is placed successfully">
        <p style="margin-top: -1rem;">Hurrayyy...We successfully process your order and you can view that from <a href="/orders" class="lined-link">Order</a> page. And Your order will be in front of your door step in just 3-4 days.</p>
    </main>
</body>
</html>