<div id="back-drop-feedback"></div>
<section id="feedback-section" class="form model">
    <div id="feedback-close">
        <span>⨉</span>
    </div>
    <h2 class="highlight">How's the Delivary</h2>
    <form id="feedback-form" data-csrf="<%= csrfToken %>">
        <div class="form-control">
            <select name="feeling" id="feeling">
                <option value="Not Setisfied">Not Setisfied</option>
                <option value="Average">Average</option>
                <option value="Sefisfied">Sefisfied</option>
                <option value="Very Sefisfied">Very Sefisfied</option>
            </select>
        </div>
        <div class="form-control">
            <label for="feedback">Your Thoughts</label>
            <textarea name="feedback" id="feedback" rows="10"></textarea>
        </div>
        <button class="btn">Share!</button>
    </form>
</section>
